@charset "UTF-8";

/* general */
* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;

    width: 100%;
    height: 100vh;

    background: url(https://as2.ftcdn.net/v2/jpg/02/35/10/93/1000_F_235109396_FHzjAaKjjvzWwNuMambXVvEoQRNDUTha.jpg) bottom;
    
    background-size: cover;
    background-attachment: fixed;
    
    align-items: center;
    justify-content: center;
}



/* main instrument */
#tvBox {
    display: flex;
    justify-content: space-between;

    background: #ffffff00 url(../media/img/old-tv.png) no-repeat;
    background-size: cover;

    width: 50vw;
    height: 35vw;
}

#sArea { /* content show area */
    display: inline-block;
    background-color: #222222c0;
    
    height: 75.5%;
    width: 70%;

    margin: 7.5% 4.5% 0% 7%;
    border-radius: 25%;
    box-shadow: inset 0 0 2vw #222;
}



/* nav + buttons */
#tvBox > section {
    background-color: #0000ff09;

    width: 13.5%;
    height: 85%;

    margin: 5% 5% 0 0;
}

.bPattern {
    background-color: #ffffff28 ;
    display: block;
    border-radius: 50px;

    width: 4vw;
    height: 4vw;

    margin: auto 22.5%;
    transition-duration: 10s all;
}

#bTur {

}

#bPoem {

}

#b

.bPattern:hover {
    border: 0.2vw double #fff;
}


#hButton {
    background: url(https://cdn-icons-png.flaticon.com/512/152/152810.png);
    background-size: cover;
}